{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ Dispositivo.nombre }}</title>

		<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'todo/bs/css/flatly.min.css' %}" />
		<link rel="stylesheet" href="{% static 'todo/styles.css' %}" />
	</head>
	<body>

		<div class="container-fluid" id="wrapper">

			<div class="row">
				{% if Dispositivo %}
				<div class="col-lg-4 col-lg-offset-4" id="content">
					<h2>Borre el Dispositivo</h2>

					<div class="row t10">
						<div class="col-lg-12">
							<div class="btn-toolbar">
								<div class="btn-group">
									<a href="{% url 'deleteDispositivo' GrupoDispositivo.id Dispositivo.id %}"><button type="button" class="btn btn-warning">
										<i class="glyphicon glyphicon-trash"></i> DELETE
									</button></a>
								</div>
							</div>
						</div>
					</div>
					<h2>Obtener y enviar token al dispositivo</h2>
					<div class="row t10">
						<div class="col-lg-12">
							<div class="btn-toolbar">
								<div class="btn-group">
									<a href="{% url 'tokenDispositivo' GrupoDispositivo.id Dispositivo.id %}"><button type="button" class="btn btn-default">
										 ENVIAR TOKEN
									</button></a>
								</div>
							</div>
						</div>
					</div>
					<div class="row t10">
					<h2>	{{Dispositivo.datos}} </h2>
					</div>
				</div>
				{% endif %}
			</div>

			<footer>
				<div class="row pad">
					<div class="col-lg-12 text-center">
						IoT device management service
						<div class="abajo">
							{% if GrupoDispositivo %}
							<a href="{% url 'indexGrupoDispositivo' GrupoDispositivo.id %}"><button type="button" class="btn btn-default"/>Atrás
							{% endif %}
						</div>
						<div class="abajo">
							<a href="{% url 'logout' %}" style="color:#ffffff"><button type="button" class="btn btn-default"/>Logout</a>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</body>
</html>
